<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thanks for Registering!</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    {% for message in get_flashed_messages() %}
<!--        fixme this is bootstrap to be added in later-->
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
        </div>

    {% endfor %}
    {% if username %}
        <h1>Thanks for Registering!</h1>

        <br>
        <br>
        <br>
        <p>table should print below here</p>
        <table class = "table table-dark table-hover table-striped">
        {% for our_user in our_users %}
            <tr><td>{{ our_user.id }}: - {{ our_user.username }}
                <a href="{{ url_for('delete_user', id=our_user.id)}}" class="btn btn-danger">Delete</a></td></tr>
        {% endfor %}
        </table>
        <a href="{{ url_for('main_page') }}">Go Home</a>
        <a href="{{ url_for('add_user') }}">Add another user</a>
    {% else %}
        <br>
        <div class="shadow p-3 mb-5 bg-body rounded">
        <h1>Add a User:</h1><hr><br>
            <form method = "POST">
                {{ form.hidden_tag() }}

                {{ form.username.label }}

                {{ form.username() }}
                <br><br>
                {{ form.password.label }}

                {{ form.password() }}
                <br>
                <br>
                {{ form.submit() }}
            </form>
        </div>

        <br>
        <br>
        <br>
        <p>Current Taken Usernames:</p>
        <table class = "table table-dark table-hover table-striped">
        {% for our_user in our_users %}
            <tr><td>{{ our_user.id }}: {{ our_user.username }}</td></tr>
        {% endfor %}
        </table><br><br>


    {% endif %}
    {% endblock %}
</body>
</html>