<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <h1>Hi, you're logged in</h1>

    <p>Delete Users Below:</p>
    <table class = "table table-dark table-hover table-striped">
        {% for our_user in our_users %}
            <tr><td>{{ our_user.id }}: - {{ our_user.username }}
                <a href="{{ url_for('delete_user', id=our_user.id)}}" class="btn btn-danger">Delete</a></td></tr>
        {% endfor %}
        </table>
    <br>
    <br>
    <br>
        <a href="{{ url_for('main_page') }}">Go Home</a>
        <a href="{{ url_for('add_user') }}">Add another user</a>

  <a href="{{ url_for('logout') }}">Log-out</a>
</body>
</html>