<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log-In Page</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Log-In</h1>
    <form id="log_in_form" action="{{ url_for('login') }}" method="post">
        <p>Username:</p>
        {{ form.hidden_tag() }}
        {{ form.username }}
        <p>Password:</p>
        {{ form.password }}
        {{ form.submit }}
    </form><br><br>
    <br>
    <p>Don't have an account? <a href="{{ url_for('add_user') }}" class="btn btn-outline-success">Register Now</a></p>
    {% endblock %}

</body>
</html>