<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log-In Page</title>
</head>
<body>
    <h1>Log-In</h1>
    <form id="log_in_form" action="{{ url_for('log_in') }}">
        <p>Username:</p>
        <input id="user" title="Username" type="text">
        <p>Password:</p>
        <input id="password" title="Password" type="password">
        <button type="submit" id="submitButton">Log-in</button>
    </form>
    <a href="{{ url_for('main_page') }}">Go Home</a>
    <input type="button" id="clickMe" value="Clickme">
    <script src="../static/js/log_in_validatation.js"></script>
<!--todo add validation of users-->

</body>
</html>