<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Recipe Picker</title>
</head>
<body>
    <h1>Random Recipe Picker</h1>
    <h3>Unsure what to have for supper tonight? Let us pick for you!</h3>
    <form>
        <input type="submit" id="randomButton" value="Click for Recipe!"></input>
    </form>
<!--    <button id="randomButton" onclick="window.location.reload()">Click for Recipe!</button>-->
    {% set random_recipe = recipe_list|random %}

<!--    todo add link to randomly generated recipe -->
        <h3>Random recipe: <a href="/recipe/{{random_recipe}}">{{ random_recipe.title() }}</a></h3>
    <br>
    <a href="{{ url_for('main_page') }}">Go Home</a>

</body>
</html>