<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe for {{ recipe_name }}</title>
</head>
<body>
    <h1>{{ recipe_name.title() }} - Recipe</h1>
    <p id="description"><strong>{{ recipe_name.title() }} Description: {{ current_recipe[0] }}</strong></p>
    <img src="/static/images/{{ current_recipe[1]}}" width="400" height="200">
    <br>
    <a href="{{url_for('main_page')}}">Home</a>
    <a href="{{url_for('view_all')}}">View All</a>
    <a href="/prev/{{ recipe_name }}">Prev</a>
    <a href="/next/{{ recipe_name }}">Next</a>

    <h3>What You'll Need:</h3>
    <ul>
        {% for item in ingredients %}
            <li>{{ item| capitalize }}</li>
        {% endfor %}
    </ul>
    <br>
    <h3>Prep Instructions</h3>
    <p>{{ current_recipe[3] }}</p>

    <h3>Serving Instructions</h3>
    <p>{{ current_recipe[4] }}</p>

</body>
</html>