<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe for {{ recipe_name }}</title>
</head>
<body>
    <h1>{{ recipe_name.title() }} - Recipe</h1>
    <p id="description"><strong>Here is a short description of the {{ recipe_name.title() }}.</strong></p>
    <img src="/static/images/general.jpg" width="400" height="200">
    <br>
    <a href="{{url_for('main_page')}}">Home</a>

    <h3>What You'll Need:</h3>
    <ul>
        <li>First item</li>
        <li>Second item</li>
        <li>Third item</li>
    </ul>

    <h3>Prep Instructions</h3>
    <ul>
        <li>Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
    </ul>

    <h3>Serving Instructions</h3>
    <ul>
        <li>Serves 2-4 people</li>
        <li>Put on plate</li>
    </ul>

</body>
</html>